.total{
    margin: 0 auto;
    width: 500px;
    height: 500px;
    display:flex;
    display:-webkit-flex; 
    flex-direction: row;
    align-items: flex-end;
    background-color: black;
  

    
}
.demo{
    width: 10px;
    height: 10px;
    background: yellow;
    margin: 10px;
    
    
    
   
    
}